.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.serena/

__pycache__
.claude/doc-advisor/config.yaml.old

/meta/
/meta
